* {
    box-sizing: border-box;
    text-decoration: none;
    
}
/* you can style the pop up with css media queries*/

:root {
    --color-screen: #eaf0e4;
    --color-text: #21241f;

    --background: var(--color-screen);
    --text: var(--color-text);
}

/* title font */
@font-face {
    font-family: 'Dream';
    src: url('fonts/webfontkit-20230202-105138/dream_orphans-webfont.woff') format('woff');
}

/* body text */
@font-face {
    font-family: 'Poiret One';
    src: url('fonts/webfontkit-20230130-211844/poiretone-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Alef';
    src: url(fonts/webfontkit-20230203-203358/alef-regular-webfont.woff) format('woff');
}

/* title font ? */
@font-face {
    font-family: 'Aboreto';
    src: url(fonts/webfontkit-20230130-210936/aboreto-regular-webfont.woff) format('woff');
}

/* unvisited link */
a:link {
  color: var(--color-text);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

body {
    background-color: var(--background);
    margin: 1rem;
    padding: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem .5rem 1rem;
    padding: 1rem 1rem .5rem 1rem;
    font-family: 'Aboreto';
    font-style: normal;
    font-size: 50px;
    color: var(--color-text);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 1rem 1rem 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
    font-family: 'Poiret One' ;
    font-style: normal;
    font-size: 32px;
    color: var(--color-text); 
}

h3 {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Aboreto';
    font-style: normal;
    font-size: 24px;
    color: var(--color-text);
}

p {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Poiret One' ;
    font-style: normal;
    font-size: 20px;
    color: var(--color-text); 
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem .5rem 3rem .5rem;
    padding: .5rem;
 }

 li {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Poiret One' ;
    font-style: normal;
    font-size: 24px;
    color: var(--color-text); 
 }
  
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .item {
    background-color: rgb(242, 245, 242);
    /* border: 1px solid rgb(25, 34, 27); */
    text-align: center;
    border: none;
    border-radius: 50%;
  }
  
  img {
    margin: .5rem;
    padding: .5rem;
  }

  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
  }

  label {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Poiret One';
    font-style: normal;
    font-size: 24px;
    color: var(--color-text);
  }

  input {
    margin: 1rem 0rem 1rem 1rem;
    padding: .5rem;
    background-color: rgb(242, 245, 242);
    border: solid black .75px;
  }

  .submit {
    padding: .3rem;
    font-family: 'Poiret One';
    font-style: normal;
    font-size: 20px;
    color: var(--color-text);
    background-color: rgb(242, 245, 242);
    border: solid black .75px;
    transition: color .5s ease-in .5s,
    ease-out .5s;
  }


  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .help , .return {
    padding: .5rem 3rem .5rem 3rem;
    font-family: 'Poiret One';
    font-style: normal;
    font-size: 24px;
    color: var(--color-text);
    background-color: rgb(242, 245, 242);
    border: solid black .75px;
    transition: color .5s ease-in .5s,
    ease-out .5s;
  }

  .help:hover , .return:hover, .submit:hover {
    background-color: rgb(96, 112, 96);
    color: var(--color-screen);
    border: solid var(--color-screen) .75px;
  }

  .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 30px;
    width: 100%;
    color: var(--color-text);
    transition: color .5s ease-in .5s,
    ease-out .5s;
  }

  .arrow:hover {
    color: rgb(96, 112, 96);
  }


  /* modal */
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5);
  }

  .content {
   background-color: rgb(242, 245, 242);
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
  }

  .close:hover {
    color: black;
  }



  /* modal when open */
  .contentTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .25rem;
    padding: .25rem;
  }
  .content_pic {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: .25rem;
    padding: .25rem;
  }

  .content_text {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin: .25rem;
    padding: .25rem;
  }